/*-----------------------------------------------------------

------------------------GENERAL STYLES

------------------------------------------------------------*/

* {
	background-color: #14abb0;
	color: #FFF;
}

a {
	text-decoration: none;
}

h2 {
	color: #000080;
}

p {
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;
}

#wrapper,
footer {
	margin-left: 10px;
	margin-right: 10px;
}

/*-----------------------------------------------------------

------------------------STICKY FOOTER

------------------------------------------------------------*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#wrapper {
  flex: 1 0 auto;
}

/*-----------------------------------------------------------

------------------------HEADER

------------------------------------------------------------*/

img#logo {
	display: block;
	margin: 1% auto -3%;
	width: 100%;
	max-width: 1000px;
	max-height: 100%;
}

h2.logo_caption {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0;
	font-size: 1.35em;
	color: #800080;
}

h2.logo_caption, 
nav.main-nav{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

/*-----------------------------------------------------------

------------------------NAVIGATION

------------------------------------------------------------*/

ul.nav-list {
	padding-left: 0;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
}

.nav-list li {
	margin-left: 10%;
	margin-top: 8px;
	width: 80%;
	padding: 8px 0;
	font-size: 1.2em;
	border-radius: 8px;
}

.nav-list li a:hover {
	color: yellow;
}

.nav-list li a {
	display: inline-block;
	width: 100%;
	min-height: 100%;
	color: #7cfc00;
}

/*-----------------------------------------------------------

------------------------BODY

------------------------------------------------------------*/

h1,
h2 {
	font-family: 'Raleway', sans-serif;
}

.c2 {
	margin-bottom: 10px;
}

#CWAlogo {
	max-height: 35vh;
	display: block;
	margin-left: 10%;
	margin-right: auto;
}

#Thanks {
	max-height: 35vh;
	max-width: 90%;
	border: 1px solid white;
}

#columnParent {
	margin-top: 50px;
}

#tiny {
	font-size: 0.8em;
}

/*-----------------------------------------------------------

------------------------APPLICATION

------------------------------------------------------------*/

button {
	background-color: yellow;
	border: 1px solid black;
	border-radius: 5px;
}

button a {
	color: black;
}

/*-----------------------------------------------------------

------------------------MEDIA QUERIES

------------------------------------------------------------*/

@media (min-width: 750px) {
	#columnParent {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;

	}

	#column1,
	.c2 {
		flex: 1 1 0;
	}

	.c2 {
		margin-left: 15px;
	}
}
