/*-----------------------------------------------------------

------------------------GENERAL STYLES

nav font: Open Sans
paragraph font: Merriweather;
other font used: Georgia serif;
caption & h2 font: 'Raleway', sans-serif;

old background clr: #5f9ea0


------------------------------------------------------------*/

* {
	background-color: #14abb0;
	color: #FFF;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h2 {
	color: #000080;
}

p,
#footList {
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;
}

#mainWrap,
footer {
	margin-left: 10px;
	margin-right: 10px;
}

/*-----------------------------------------------------------

------------------------STICKY FOOTER

------------------------------------------------------------*/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#wrapper {
  flex: 1 0 auto;
}

/*-----------------------------------------------------------

------------------------HEADER/NAV

------------------------------------------------------------*/

#main-head {
	margin: 0 auto;
}

img#logo {
	display: block;
	margin: 1% auto -3%;
	width: 100%;
	max-width: 1000px;
	max-height: 100%;
}

h2.logo_caption {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0;
	font-size: 1.35em;
	color: #800080;
}

h2.logo_caption,
nav.main-nav {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

nav.main-nav {
	font-family: 'Open Sans', sans-serif;
}

ul.nav-list {
	padding-left: 0;
}

.nav-list li {
	margin-left: 10%;
	margin-top: 8px;
	width: 80%;
	padding: 10px 0;
	font-size: 1.2em;
	background-color: #000080;
	border-radius: 8px;

}

.nav-list li a {
	display: inline-block;
	width: 100%;
	min-height: 100%;
}

/*-----------------------------------------------------------

------------------------BODY

------------------------------------------------------------*/

#mainWrap h2 {
	font-family: 'Raleway', sans-serif;
}

#donate h3 {
	font-family: 'Open Sans', sans-serif;
	color: #7cfc00;
}

/*-----------------------------------------------------------

------------------------IMAGES

------------------------------------------------------------*/

#photoHolder {
	margin: 0 auto;
}

#bigThanks {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 81%;
	border: 1px solid white;
}

/*-----------------------------------------------------------

------------------------DONATIONS

------------------------------------------------------------*/

#donateButton {
	width: 300px;
}

/*-----------------------------------------------------------

------------------------TICKET-SHARE FORM

use percentage margin or float to push "last name" to the right
fill ~96% width of page until 500-600px or so

------------------------------------------------------------*/

form input,
form textarea {
	background-color: white;
	color: black;
}

form label {
	font-family: 'Merriweather', serif;
}

input[name="firstname"],
input[name="lastname"] {
	width: 48%;
}

form label[for="firstname"],
form label[for="lastname"] {
	font-size: 0.8em;
}

form label[for="firstname"] {
	margin-right: 35%;
}

/*-----------------------------------------------------------

------------------------FOOTER

------------------------------------------------------------*/

footer h3.contact,
#footList {
	text-align: center;
}

footer h3,
footer h3 a {
	font-family: 'Open Sans', sans-serif;
	color: #7cfc00;
}

footer h3 a {
	color: #000080;
}

footer h3 a:hover {
	color: yellow;
}









